<% include ../partials/header.ejs %>
<div class = "container">
	<div class = "jumbotron bg-secondary text-white">
		<h1>Library Management - Return Book</h1>
	</div>
	<form action="/checkin" method ="POST">
		<input type="text" name="search" placeholder="Search using Book Isbn, Borrower card ID or Borrower name" class = "search">
		<input type="submit" name="submit" class="btn btn-primary" value="Search">
	</form>
	<% if (SearchResults !== undefined && SearchResults.length != 0) {	%>
		<table class = "table table-striped">
			<thead class = "bg-secondary text-white">
				<tr>
					<th>Loan ID</th>
					<th>ISBN</th>
					<th>Card ID</th>
					<th>Date Out</th>
					<th>Date Due</th>
					<th class = "button-head">Checkin</th>
				</tr>
			</thead>
			<tbody>
				<% SearchResults.forEach(function(SearchResult){ %>
					<tr>
						<td><%= SearchResult.loan_id %></td>
						<td><%= SearchResult.Isbn %></td>
						<td><%= SearchResult.Card_id %></td>
						<td><%= SearchResult.Date_out %></td>
						<td><%= SearchResult.Due_date %></td>				
						<% var link = "/checkin/"+ SearchResult.loan_id %>
						<td><a href= <%=link%> ><button class ="btn btn-secondary">Return</button></a></td>
					</tr>
				<% }); %>

			</tbody>
		</table>	
	<% } %>		
	<% if (SearchResults !== undefined && SearchResults.length == 0) {	%>	
	<h3>No rows found</h2>
	<% } %>	
</div>
<% include ../partials/footer.ejs %>